.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

.title {
  margin: 0;
  font-size: 18px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;

  padding: 10px;

  border: 1px solid var(--gray-light);
  border-radius: 10px;
}

.inputWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.input {
  outline: none;
  border: 1px solid var(--gray-light);
  border-radius: 10px;

  padding: 10px;
  width: 400px;
  max-width: 400px;

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
}

.readonly {
  color: var(--gray);
}

.textarea {
  width: 100%;
  padding: 7px 15px;

  resize: none;

  border: 1px solid var(--gray-light);
  border-radius: 10px;

  padding: 10px;

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
  outline: none;
}

.error {
  border: 1px solid var(--red);
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  left: 100px;

  color: var(--red);
}

.label {
  padding-top: 5px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 20px;
  }

  .header button {
    margin-right: 24px;
  }
}
